<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CryPic</title>

  <!-- JS scripts -->
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='bootstrap.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='vendors/startbootstrap-sb-admin-gh-pages/css/sb-admin.min.css' )}}"/>
</head>

<body>
  <!--All JS scripts for this page-->
  <script type="text/javascript" src="{{ url_for( 'static',filename = 'jquery-3.3.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for( 'static',filename = 'bootstrap.bundle.min.js') }}"></script>

  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <center>
        <h1 class="display-4">CryPic</h1>
        <p class="lead">
          Encrypt your message and send it to your friend as a picture!
        </p>
      </center>
    </div>

    <div class="card mx-auto mt-5 w-50" style="width: 40rem;">
      <div class="card-header">Generated Image</div>
      <div class="card-body">
        <center>
          <img src="{{url_for('static', filename='images/new1.png', pad=pad)}}"
               id="genImg" alt="Generated image" width="200" height="200">
          <br>
          <p>Key: {{ key }}</p>
          <br>
          <p>To save the image, right-click it and select "Save Image As..."</p>
          <br>
          <a href="/home">
            <button class="btn btn-secondary" type="submit">
              Encrypt another message
            </button>
          </a>
        </center>
      </div>
    </div>
  </div>

</body>
</html>